/* #root {
  max-width: 1280px;
  padding: 2rem;
  text-align: left;


}

.form-prompt {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.custom-checkbox {
  width: 25px; 
  height: 25px;
  border: 20px solid #000; 
  border-radius: 4px;
  cursor: pointer;
} */
